* {
  margin: 0px;
  text-decoration: none;
}

 /* 로그인 폼 */
.login_container {
  border: 1px solid black;
  width: 35%;
  padding: 6px;
}

#input_id,
#input_pw,
#logInBtn {
  height: 30px;
  margin: 1px;
}

/* 헤더 */
.header_container{
  display: flex;
  align-items: center;
}

.label_title{
  font-size : 6px;
  margin : 0 6px;
  font-weight: 900;
}
.header_label{
  font-size : 6px;
  margin : 0 6px;

}
.header_label:hover{
  font-weight: 900;
  cursor:pointer;
}

#header_input{
  width : 300px;
}

/* 메뉴 바 */

#BigMenu{
  display: flex;
  justify-content : space-around;
  align-items: center;
  background-color: #4A56A8;
  color : white;
  height : 50px;
}

#menuLabel{
  display: flex;
  justify-content : space-between;
  align-items: center;
  /* border : 1px solid; */
  width : 600px;
}


.labels:hover{
  cursor:pointer;
  text-decoration: underline;
}

/* 실북갤 */
.bookgall_container{
  border:1px solid;
  width : 320px;
}

.bookgall_titlewrap{
  display : flex;
  justify-content: space-between;
  padding: 15px;
  border-bottom: 1px dashed gray;
}
.bookgall_link{
  margin: 4px 0px 7px 0px;
}

.bookgall_rank{
  background-color: #4A56A8;
  padding: 0px 2px;
  color : white;
}
.bookgall_contentwrap{
  display: flex;
  flex-direction: column;
  margin : 0 5px;  
}

.bookgall_name{
  margin : 0 5px;  
  color : black;
}

.bookgall_name:hover{
  text-decoration: underline;  
}

/* 힛갤 */
.hitgall_container{
  padding : 10px;
}
.hitgall_title_label:hover{
  cursor: pointer;
}
.hitgall_titlewrap{
  border-bottom : 2px solid #3c4790;
  padding :7px;
  color : #3c4790;
}
.hitgall_titlewrap{
  cursor:pointer;
}
.hitgall_hitcontent{
  display : flex;
  flex-direction :column;
  padding-right : 10px;

}
.hitgall_hitcontent:hover{
  cursor: pointer;
  text-decoration: underline;
}
.hitgall_title{
  display :table-cell;
}
.hitgall_title:hover{
  cursor: pointer;
}
.hitgall_contentwrap{
  padding : 8px 0;
  display : flex;
}

.hit_gall_photo{
  width : 171px;
  height : 171px;

}