* {
  margin: 0px;
  text-decoration: none;
}

 /* 로그인 폼 */
.login_container {
  border: 1px solid black;
  width: 35%;
  padding: 6px;
}

#input_id,
#input_pw,
#logInBtn {
  height: 30px;
  margin: 1px;
}

/* 헤더 */
.header_container{
  display: flex;
  align-items: center;
}

.label_title{
  font-size : 6px;
  margin : 0 6px;
  font-weight: 900;
}
.header_label{
  font-size : 6px;
  margin : 0 6px;

}
.header_label:hover{
  font-weight: 900;
  cursor:pointer;
}

#header_input{
  width : 300px;
}